html {
  height: 100vh;
  font-size: 24px;
  font-family: 'Mali', cursive;
}

body {
  height: 100%;
  margin: 0;
  top: 0;
}

ul {
  margin: 0;
}

input[type='button'], button {
  background-color: grey;
}

.container {
  text-align: center;
  position: relative;
  margin: 32px auto;
  width: 50%;
  display: grid;
  grid-template-columns: 90% auto;
  cursor: pointer;
}

.number-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: inherit;
  // padding: 8px;
}

.actions-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column: 2;
  cursor: inherit;
}

.number {
  font-size: 24px;
  cursor: inherit;
  padding: 8px;
}

.screen {
  grid-column: 3;
  text-align: center;
  padding: 8px;
}

.addition, .minus {
  font-size: 32px;
}
